{% extends 'buyer/base.html' %}

{% block title %}
    商品详情
{% endblock %}
{% block link %}
    <script src="/static/buyer/js/vue.js"></script>
{% endblock%}

{% block content %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img style="width: 350px;height: 350px;" src="/static/{{ goodsList.good_image }}"></div>
        <form action="/Buyer/place_order/" method="post">
            {% csrf_token %}
		<div class="goods_detail_list fr">
			<h3>{{ goodsList.good_name }}</h3>
			<p>{{ goodsList.good_description }}</p>
			<div class="prize_bar">
				<span class="show_pirze" >¥<em id="price">{{ goodsList.good_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">

					<input type="text" id="count" name="count" class="num_show fl" value="1">
                    <input type="hidden" id="good_id" name="good_id" class="num_show f1" value="{{ goodsList.id }}">
					<a href="javascript:;" class="add fr" onclick="changeNum('add')" id="add">+</a>
					<a href="javascript:;" class="minus fr" onclick="changeNum('minus')" id="minus">-</a>
				</div>
			</div>

			<div class="total">总价：<em id="total">{{ goodsList.good_price }}</em><em>元</em></div>

			<div class="operate_btn">
				<input class="buy_btn" value="立即购买" type="submit">
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
        </form>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goodsList.good_description }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}
        {% block script %}
            <script src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script>
        function changeNum(ty) {
            // 获取数量
            var value = $('#count').val();
            if(ty=='add'){
                $('#count').val(++value)
            }else{
                if(value<=1){
                    $('#count').val(1)
                }else{
                    $('#count').val(--value)
                }
            }
            var price = $('#price').text();
            var total_price = price * value;
            parseFloat(total_price)
            total_price.toFixed(2)
            $('#total').text(total_price.toFixed(1))
        }


        $('#add_cart').click(
            function () {
                console.log(1)
                var count = $('#count').val();
                var good_id = $('#good_id').val();
                var csrfmiddlewaretoken='{{ csrf_token}}';
                var sendData = {
                    'count':count,
                    'good_id':good_id,
                    'csrfmiddlewaretoken':csrfmiddlewaretoken
                };
                var url = '/Buyer/add_cart/';
                $.ajax(
                    {
                        url:url,
                        type:'post',
                        data:sendData,
                        success:function (data) {
                            alert('加入购物车成功')
                        },
                        error:function (data) {
                            console.log(data)
                        }
                    }
                )
            }
        )
    </script>
        {% endblock %}





